configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "󰀻 Apps";
    display-run: " Run";
    display-window: "󰖯 Windows";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 12";
}

@theme "nord"
